.primary {
    color: var(--primary);
}

.primary-dark {
    color: var(--primary-dark);
}

.primary-light {
    color: var(--primary-light);
}

.accent {
    color: var(--accent);
}

.accent-light {
    color: var(--accent-light);
}

.black {
    color: black;
}

.white {
    color: white;
}