:root {
    // Normal shadows
    --shadow-0: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.08);
    --shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --shadow-3: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    --shadow-4: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    --shadow-5: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}