.dp-picker-input {
    margin-block-start: 1.25rem;
    padding-block-end: .75rem;
    margin-inline-start: .55rem;
    // max-width: 5.5rem;
    max-width: 8rem;
}

.dp-popup {
    direction: ltr;
    // z-index: 1011;
}

.dp-material {
    // position: relative;
    // z-index: 10005;
    // background: red;
}